<div class="jumbotron">
    <h1 class="display-3">{{.Title}}</h1>
    <p class="lead">{{.MainMessage}}</p>
    <hr class="my-4">
    <p>Iris provides a beautifully expressive and easy to use foundation for your next website or API. Finally, a real
        expressjs equivalent for the Go Programming Language.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://github.com/kataras/iris" role="button" target="_blank">Learn more</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary">
            <div class="card-header">Feature 1</div>
            <div class="card-body">
                <h4 class="card-title">Crossplatform</h4>
                <p class="card-text">Write once and run anywhere ie. Android, iOS, Linux and Windows etc. with the minimum machine power.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-success">
            <div class="card-header">Feature 2 </div>
            <div class="card-body">
                <h4 class="card-title">Easy To Use</h4>
                <p class="card-text">Iris known for simple and powerful api. Beside the low level access that Iris gives you. Iris loves
                    MVC as well.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-danger">
            <div class="card-header">Feature 3</div>
            <div class="card-body">
                <h4 class="card-title">Service Oriented</h4>
                <p class="card-text">Iris gives you the structure to build service oriented apps. It’s easy to build microservices with
                    Iris.
                </p>
            </div>
        </div>
    </div>
</div>